services:
  redis:
    image: bitnamilegacy/redis:8.0
    ports:
      - "6379:6379"
    volumes:
      - .docker/redis:/bitnamilegacy/redis/data
    environment:
      - REDIS_PASSWORD
  mongo:
    image: mongo:8.0
    ports:
      - "27017:27017"
    volumes:
      - .docker/mongo:/data/db
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD
